<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>CCNSlideMenu.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>51A9EC2B1C3524C90056DA0B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>51A9EC421C3524C90056DA0B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>51A9EC4D1C3524C90056DA0B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
